.container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 25px;
}

.session-container {
    padding: 0 4vw;
    width: 100%;

    // font-size: 1.5em;
    // height: 500px

    >h2 {
        margin: .5em 0 0;
        padding: .5em;

        background: $dark-blue;
        color: $white;
        font-size: 1.2em;

    }

}

.session-title-container {
    align-items: center;
    display: flex;
    height: 90px;
    padding: 5px 10px;

    color: $black;
    font-size: 1.2em;
    font-weight: 600;
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.session-1 {
    background: $light-blue;
}

.session-2 {
    background: scale-color($light-blue, $lightness: -5%);
}

.session-3 {
    background: scale-color($light-blue, $lightness: -15%);
}

.session-4 {
    background: scale-color($light-blue, $lightness: -25%);
}

.session-5 {
    background: scale-color($light-blue, $lightness: -35%);
}

.session-6 {
    background: scale-color($light-blue, $lightness: -45%);
}



.stc-active {
    opacity: 1;
    transform: translateX(0);

}

.explainer {
    @extend .session-title-container;
    height: 50px;
    padding: 10px 10px;

    background: scale-color($dark-blue, $lightness: -50%);
    color: $white;
    font-size: 1em;
    opacity: 1;
    transform: none;


}

.title-explainer,
.session-title {
    flex: 75%;
    margin: 0 5px 0 0;
}

.session-title {
    font-weight: 700;
}

.time-explainer,
.location-explainer,
.session-time,
.location {
    flex: 20%;
    font-size: smaller;
    text-align: right;
}



.explainer>p {
    margin: 0;
    font-size: smaller;
}

.topic-explainer,
.track {
    flex: 5%;

}

.explainer>.time-explainer,
.session-time {
    margin-right: 5px;
}

// Define topic classes
%text-center {
    text-align: center;
}

.aspects-of-scientific-practice-organization:before {
    content: "⚖️";
    @extend %text-center;
}

.biology:before {
    content: "🔬";
    @extend %text-center;
}

.chemistry:before {
    content: "⚗️";
    @extend %text-center;
}

.earth-and-environmental-sciences {
    content: "🌍";
    @extend %text-center;
}

.mathematics {
    content: "➗";
    @extend %text-center;
}

.medicine-and-health:before {
    content: "💉";
    @extend %text-center;
}

.physical-sciences:before {
    content: "🔭";
    @extend %text-center;
}

.social-sciences:before {
    content: "🏙️";
    @extend %text-center;
}

.thematic-approaches-to-the-study-of-science:before {
    content: "🗄️";
    @extend %text-center;
}

.theoretical-approaches-to-the-study-of-science {
    content: "💡";
    @extend %text-center;
}

.tools-for-historians-of-science:before {
    content: "🔧";
    @extend %text-center;
}