// Colors
$black: #17170C;
$yellow: #ffd557;
$white: #fefefe;
$dark-blue: rgb(25, 52, 179);
$light-blue: rgb(87, 117, 255);

// Fonts
$sans: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Segoe UI', sans-serif;