// Colors
$black: #030614;
$yellow: #ffd557;
$white: #FFF9E6;
$dark-blue: rgb(25, 52, 179);
$light-blue: rgb(87, 117, 255);
$light-yellow: #FFDB70;

// Fonts
$sans: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Segoe UI', sans-serif;