// Variables
@import 'variables';

// Global styles
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

// General Styles

html {
  background: $black;
  color: $white;
  font-family: $sans;
  font-size: 15px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: calc(1em + .25vw);
  }
}



// Imports

@import 'header';
@import 'body';
@import 'footer';